.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  height: 70px;
  transition: background-color .1s ease-in-out;
}

.logo-img {
  height: 70px;
  object-fit: contain;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 6px;
  margin: 0 6px 0 auto;
}

.links .link {
  color: var(--light-text);
  text-decoration: none;
  cursor: pointer;
}

.links .link .h-line {
  width: 0;
  margin: 0 auto;
  transition: width .3s linear;
}

.links .link:hover .h-line {
  width: 100%;
}