.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  height: 70px;
  transition: background-color .1s ease-in-out;
}

.header .logo-img {
  height: 70px;
  object-fit: contain;
}

.header .links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 6px;
  margin: 0 6px 0 auto;
}

.header .links .link {
  color: var(--light-text);
  text-decoration: none;
  cursor: pointer;
}

.header .links .link .h-line {
  width: 0;
  margin: 0 auto;
  transition: width .3s linear;
}

.header .links .link:hover .h-line {
  width: 100%;
}

.header .profile {
  display: flex;
  flex-direction: column;
}

.header .menu {
  display: none;
  position: relative;
  margin: auto 0 auto auto;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.header .menu .icon {
  position: absolute;
  inset: 0;
  font-size: var(--text-size);
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.header .menu .icon.hide {
  opacity: 0;
}


@media only screen and (max-width: 600px) {
  .header .links {
    position: absolute;
    top: 70px;
    left: 0;
    box-shadow: 0 6px 6px -3px var(--bg-dark);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 6px;
    margin: 0;
    z-index: 2;
    transition: margin-left .3s ease-in-out;
  }

  .header .links.hide {
    margin-left: -100%;
  }

  .header .links.show {
    margin-left: 0;
  }

  .header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}